In [1]:
import pandas as pd
import requests as rq

In [2]:
#lists of books
res = rq.get("https://api.nytimes.com/svc/books/v3/lists/current/hardcover-fiction.json?api-key=hHVKGd9adfxBItLTOACcJfDqpIIhKonG")

# Reviews
rev_res = rq.get("https://api.nytimes.com/svc/books/v3/reviews.json?author=Stephen+King&api-key=hHVKGd9adfxBItLTOACcJfDqpIIhKonG")

In [3]:
j = res.json()
data = pd.DataFrame(j)
data.columns

rev = rev_res.json()
rev_data = pd.DataFrame(rev)

In [4]:
results = pd.DataFrame(data['results'])
results

                                                                      results
bestsellers_date                                                   2020-11-07
books                       [{'rank': 1, 'rank_last_week': 0, 'weeks_on_li...
corrections                                                                []
display_name                                                Hardcover Fiction
list_name                                                   Hardcover Fiction
list_name_encoded                                           hardcover-fiction
next_published_date
normal_list_ends_at                                                        15
previous_published_date                                            2020-11-15
published_date                                                     2020-11-22
published_date_description                                             latest
updated                                                                WEEKLY

In [5]:
books = pd.DataFrame(data['results']['books'])
books.count()

rank                    15
rank_last_week          15
weeks_on_list           15
asterisk                15
dagger                  15
primary_isbn10          15
primary_isbn13          15
publisher               15
description             15
price                   15
title                   15
author                  15
contributor             15
contributor_note        15
book_image              15
book_image_width        15
book_image_height       15
amazon_product_url      15
age_group               15
book_review_link        15
first_chapter_link      15
sunday_review_link      15
article_chapter_link    15
isbns                   15
buy_links               15
book_uri                15
dtype: int64

In [6]:
pd.DataFrame(data['results']['corrections'])

Empty DataFrame
Columns: []
Index: []

In [7]:
rev_data.columns

Index(['status', 'copyright', 'num_results', 'results'], dtype='object')

In [8]:
pd.DataFrame(rev_data['results']).head()

                                             results
0  {'url': 'http://www.nytimes.com/2011/11/13/boo...
1  {'url': 'http://www.nytimes.com/2011/10/31/boo...
2  {'url': 'http://www.nytimes.com/2004/01/04/boo...
3  {'url': 'http://www.nytimes.com/1993/10/24/boo...
4  {'url': 'http://www.nytimes.com/2001/11/04/boo...